/* jQuery Resize (jresize) */

.jresize_container {}

.jresize_viewport {
  position: relative;
  overflow: hidden;
  border:1px solid #ccc;
  width:640px;
  height:480px;
  background-image: url('images/viewport_background.gif');
}

.jresize_loading {
  background-image: url('images/loading.gif');
  background-repeat:no-repeat;
  background-position:center;
  position: absolute;
  top:0;left:0;right:0;bottom:0;
}

.jresize_viewport img, .jresize_crop_drag_handler {
  cursor: pointer;
}

.jresize_zoom_slider{
  height: 10px;
}
.ui-slider-handle{
  height: 20px;
  width: 20px;
  position: relative;
  top: -6px;
}